/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Custom styles */

:root {
  --primary-accent-color: #007cbb;
  --secondary-accent-color: #E2AF31;
  --primary-background-color: #FFF;
  --secondary-background-color: #E2E8F0;
  --primary-font-color: #000;
  --secondary-font-color: #F7FFFF;
  --tertiary-font-color: #9A9795;
  --link-hover-color: #009CDB;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  letter-spacing: -0.5px;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main-content';
}

.header {
  background-color: white; /* temporary background color to see layout sections */
  grid-area: header;
}

.sidebar {
  background-color: lightskyblue; /* temporary background color to see layout sections */
  grid-area: sidebar;
}

.main-content {
  background-color: lightgray; /* temporary background color to see layout sections */
  grid-area: main-content
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--primary-accent-color, royalblue);
  color: var(--secondary-font-color, white);
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.logo h1 {
  font-weight: 500;
}

.logo,
.nav-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
}

.logo-icon,
.nav-icon {
  justify-self: center;
  fill: var(--secondary-font-color, white);
}

.nav-icon {
  width: 1.5rem;
}

.nav-item span {
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-item {
  color: inherit;
  text-decoration: none;
}

a.nav-item:hover {
  background-color: var(--link-hover-color, midnightblue);
}

a.nav-item:focus {
  outline-offset: -1px;
}