/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Custom styles */

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main-content';
}

.header {
  background-color: white; /* temporary background color to see layout sections */
  grid-area: header;
}

.sidebar {
  background-color: lightskyblue; /* temporary background color to see layout sections */
  grid-area: sidebar;
}

.main-content {
  background-color: lightgray; /* temporary background color to see layout sections */
  grid-area: main-content
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.logo,
.nav-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0.5rem 1rem;
  gap: 1rem;
  align-items: center;
}