/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Custom styles */

:root {
  --primary-accent-color: #007cbb;
  --secondary-accent-color: #f8c135;
  --primary-background-color: #FEFEFE;
  --secondary-background-color: #d9dee1;
  --primary-font-color: #000;
  --secondary-font-color: #F7FFFF;
  --tertiary-font-color: #605d5c;
  --link-hover-color: #009CDB;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  letter-spacing: -0.5px;
  --box-shadow: 2px 2px 4px 0px rgba(116, 116, 116, 0.4);
}

html,
body {
  height: 100%;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main-content';
}

.header {
  background-color: var(--primary-background-color, white);
  grid-area: header;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
  padding: 0 2.2rem 0.5rem;
  color: var(--primary-font-color, black);
  font-weight: 600;
  box-shadow: var(--box-shadow);
  position: relative;
}

.search-component {
  display: flex;
  gap: 1rem;
}

#search-bar {
  background-color: var(--secondary-background-color, lightgray);
  border: 0;
  border-radius: 15px;
  height: 1.4lh;
  width: 100%;
  padding: 0 10px;
}

.user-profile-component {
  display: flex;
  align-items: center;
  grid-column: span 2;
  gap: 2rem;
}

.user-profile-component > img {
  width: 3.5rem;
}

.user-profile-component > span {
  font-size: 1.3rem;
}

.user-profile-greeting-component {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-profile-greeting-component > img {
  width: 5rem;
}

.greeting > p:last-child {
  font-size: 1.5rem;
}

.header button {
  background-color: var(--primary-accent-color, blue);
  color: var(--secondary-font-color, white);
  border: 0;
  border-radius: 40px;
  width: 6.5rem;
  justify-self: center;
  padding: 0.7rem 0;
}

.header button:hover {
  background-color: var(--link-hover-color, midnightblue);
}

.sidebar {
  background-color: lightskyblue; /* temporary background color to see layout sections */
  grid-area: sidebar;
}

.main-content {
  background-color: var(--secondary-background-color, gray);
  grid-area: main-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  gap: 1.2rem;
}

#projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
  flex: 1;
}

.projects-grid > .card {
  background-color: var(--primary-background-color, white);
  box-shadow: var(--box-shadow);
  border-left: 0.5rem solid var(--secondary-accent-color, orange);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcement > p,
.card-text > p {
  line-height: 1.3;
  color: var(--tertiary-font-color, lightgray);
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.card-actions > svg {
  width: 1.8rem;
  fill: var(--tertiary-font-color, lightgray);
}

#announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.announcements-container {
  background-color: var(--primary-background-color, white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 0 2rem;
}

.announcement {
  padding: 1rem 0;
}

.announcement > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid var(--tertiary-font-color, lightgray);
}

#trending {
  grid-area: trending;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--primary-accent-color, royalblue);
  color: var(--secondary-font-color, white);
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.logo h1 {
  font-weight: 500;
}

.logo,
.nav-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
}

.logo {
  padding-top: 0.8rem;
}

.logo-icon,
.nav-icon {
  justify-self: center;
  fill: var(--secondary-font-color, white);
}

.search-icon,
.notification-bell-icon,
.nav-icon {
  width: 1.5rem;
}

.notification-bell-icon,
.search-icon {
  fill: var(--primary-font-color, black);
}

.notification-bell-icon {
  justify-self: end;
}

.nav-item span {
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-item {
  color: inherit;
  text-decoration: none;
}

a.nav-item:hover {
  background-color: var(--link-hover-color, midnightblue);
}

a.nav-item:focus {
  outline: 1px solid var(--secondary-font-color, white);
  outline-offset: -4px;
}
